---
const date = new Date();
const year = date.getFullYear();
---
<!-- components/Footer.astro -->


    <div class="footer " id="contacts">
        <div class="top">
            <div class="logo">
                <svg class="    w-[300px]
                p-[16px]" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 594.24 152.81"><defs><style>.cls-1{fill:url(#Dégradé_sans_nom_2);}.cls-2{fill:#f9f9f9;}.cls-3{fill:url(#Dégradé_sans_nom_3);}.cls-4,.cls-5{fill:none;stroke-miterlimit:10;stroke-width:1.36px;}.cls-4{stroke:url(#Dégradé_sans_nom_19);}.cls-5{stroke:url(#Dégradé_sans_nom_19-2);}</style><linearGradient id="Dégradé_sans_nom_2" x1="126.5" y1="-1814.74" x2="137.31" y2="-1762.54" gradientTransform="matrix(1, 0, 0, -1, 0, -1711.19)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f15a24"/><stop offset="0.41" stop-color="#f47921"/><stop offset="0.76" stop-color="#f68c1f"/><stop offset="1" stop-color="#f7931e"/></linearGradient><linearGradient id="Dégradé_sans_nom_3" x1="110.17" y1="-1811.97" x2="120.99" y2="-1759.77" gradientTransform="matrix(1, 0, 0, -1, 0, -1711.19)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#f15a24"/><stop offset="0.04" stop-color="#f25f23"/><stop offset="0.24" stop-color="#f47621"/><stop offset="0.45" stop-color="#f6861f"/><stop offset="0.69" stop-color="#f7901e"/><stop offset="1" stop-color="#f7931e"/></linearGradient><linearGradient id="Dégradé_sans_nom_19" x1="-392.88" y1="-1263.61" x2="-438.15" y2="-1263.61" gradientTransform="translate(1434.8 -392.88) rotate(-90)" gradientUnits="userSpaceOnUse"><stop offset="0.03" stop-color="#999"/><stop offset="0.07" stop-color="#b5b5b5"/><stop offset="0.12" stop-color="#cacaca"/><stop offset="0.17" stop-color="#dadada"/><stop offset="0.23" stop-color="#e3e3e3"/><stop offset="0.32" stop-color="#e6e6e6"/><stop offset="0.45" stop-color="#e0e0e0"/><stop offset="0.63" stop-color="#cfcfcf"/><stop offset="0.84" stop-color="#b3b3b3"/><stop offset="1" stop-color="#999"/></linearGradient><linearGradient id="Dégradé_sans_nom_19-2" x1="-500.43" y1="-1011.76" x2="-545.7" y2="-1011.76" xlink:href="#Dégradé_sans_nom_19"/></defs><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><polygon class="cls-1" points="146.19 37.59 132.69 96.84 121.86 96.84 135.36 37.59 146.19 37.59"/><polygon class="cls-2" points="162.81 48.22 160.16 59.99 177.24 59.99 174.86 70.56 157.78 70.56 154.25 86.22 187.39 86.22 185.01 96.78 141.04 96.78 143.42 86.22 146.95 70.56 149.33 59.99 151.99 48.22 154.37 37.65 198.56 37.65 196.18 48.22 162.81 48.22"/><polygon class="cls-3" points="125.09 56.88 115.99 96.84 105.16 96.84 114.27 56.88 125.09 56.88"/><path class="cls-2" d="M198.14,52.6h11.34l.81,20.53c.14,4.59.27,9.25.27,13.91h.27c2-4.66,3.85-9.25,5.81-13.91l8.92-20.53h11.88L214.89,96.49H201.78Z"/><path class="cls-2" d="M235.55,78.66c0-16.34,11.08-26.87,22.69-26.87,10.13,0,17,6.75,17,18.63,0,16.35-11.07,26.88-22.69,26.88C242.44,97.3,235.55,90.55,235.55,78.66Zm28.64-7.56c0-6.35-2.43-10-6.49-10-5,0-11.07,6.75-11.07,16.88,0,6.35,2.43,10,6.48,10C258.11,88,264.19,81.23,264.19,71.1Z"/><path class="cls-2" d="M287.56,52.6h10.8l-7,34.84h15.94l-1.76,9H278.78Z"/><path class="cls-2" d="M318,52.6h10.8L324,76.23a33.3,33.3,0,0,0-.54,5c0,4.46,1.35,6.76,5.8,6.76,3.92,0,6.08-3,7.57-10.54l5-24.85h10.54l-5,24.58C344.69,91,339,97.3,329,97.3c-10.94,0-16.34-5-16.34-15.8a51.7,51.7,0,0,1,.94-7.43Z"/><path class="cls-2" d="M368.33,61.65H357.25l1.76-9h33l-1.76,9H379.14l-6.89,34.84H361.44Z"/><path class="cls-2" d="M398.86,52.6H425.6l-1.76,9H407.77l-1.48,7.69h13.64l-1.76,9H404.53l-1.89,9h16.61l-1.75,9H390.08Z"/><path class="cls-2" d="M428.3,78.66C428.3,63,439,51.79,451.94,51.79a13.4,13.4,0,0,1,12,7.15l-7.29,5.68c-1.62-2.43-3.24-3.51-5.27-3.51-6.35,0-12,7.42-12,16.88,0,6.35,2.43,10,8.37,10,2.3,0,4.73-1.36,6.76-3.11L459,91.77a20.3,20.3,0,0,1-13.5,5.53C435.19,97.3,428.3,90.55,428.3,78.66Z"/><path class="cls-2" d="M473.82,52.6h10.81l-3.38,16.47h13.1l3.24-16.47H508.4l-8.78,43.89H488.81l3.65-18h-13.1l-3.51,18H465Z"/><polyline class="cls-4" points="0 44.59 61.26 44.59 93.25 12.59 249.13 12.59 261.04 0.68 342.38 0.68"/><polyline class="cls-5" points="251.85 152.13 313.12 152.13 345.11 120.14 500.98 120.14 512.9 108.23 594.24 108.23"/></g></g></svg>
            </div>
            <div class="contacta">+261 32 93 829 83</div>
            <div class="email">technologyevolution4@gmail.com</div>
        </div>
        <div  class="toTop underr">revenir vers le haut</div>
        <div class="evo">{year} &copy; Evolutech - tous droits reservés</div>
    </div>

  
<script>


const scrollToHeader = () => {
    window.scrollTo({
        top: 0,
        behavior: 'smooth',
    });
};

document.querySelector('.toTop')?.addEventListener('click', ()=>{
    scrollToHeader();
})
</script>
  
<style >
.footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: 2d2733;
    position: relative;
    z-index: 99;
    bottom: 0;
    width: 100%;

    background-color: #353535;
    color: rgba(255, 255, 255, 0.589);
}

.spans {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 8px;
}

.spans span {
    padding-left: 48px;
}

.toTop {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 36px;
    
}

.top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    justify-items: center;
}

.top::before {

    position: absolute;
    content: "";
    display: grid;

    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.137);
}

.evo {
    padding-top: 40px;
    display: grid;
    align-self: center;
    justify-content:center;
}

.underr:hover {
    cursor: pointer;
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.849);
}



/*** responsive footer ***/

@media screen and (max-width: 1200px) {
    body {
        font-size: 12px;
    }
}


@media screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }

    .footer {
        grid-template-rows: 1fr 0.1fr 0.1fr;
        justify-content: center;
    }
    
    .toTop {
        position: relative;
        display: grid;
        justify-self: center;
        padding: 20px;
    }

    .evo {
        padding-top: 10px;
        justify-self: center;
    }
}

@media screen and (max-width: 800px) {

    .top {
        grid-template-rows: 1fr 1fr;
        grid-gap: 4px;
        grid-template-columns: none;
        justify-content: center;
        padding: 24px;
   
    }

}

/*****fin footer*****/</style>
  
